<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>list_all</title>
</head>
<body>
    <!-- <p>hhhhh
        {{object_list.0.p_number}}
    </p>
    {{object_list}} -->
    <table border="1">
        <tr>
            <th>porject number</th>
            <th> porject title</th>
            <th> emp name</th>
        </tr>
        {% for p in object_list %}
        
                    <tr>
                        <td>{{p.p_number}}</td>
                        <td>{{p.title}}</td>
                        {% if p.emp_id.emp_name == false %}
                            <td> null</td>
                        {% else %}
                            <td>{{p.emp_id.emp_name}}</td>
                        {% endif %}
                    </tr>

            {% endfor %}
    </table>
</body>
</html>